---
import { Image } from "@astrojs/image/components";

import { AiOutlineArrowRight } from "react-icons/ai/index.js";

import type { PostInterface } from "@models/Post";

import MetricPost from "./MetricPost.astro";
import Button from "./Button.astro";

import "../../styles/components/_CardArticle.scss";

type Props = {
  post: PostInterface;
};
const { post } = Astro.props;
---

<article class="card-last-post">
  <div class="card-last-post__heading">
    <Image
      src={post.heroImage.url}
      width={150}
      aspectRatio={1.0}
      format="jpg"
      alt={post.heroImage.alt}
    />
  </div>
  <div class="card-last-post__body">
    <p class="card-last-post__text">
      {post.description}
    </p>
    <div class="card-last-post__more">
      <div class="card-last-post__metrics">
        <MetricPost metrics={post.metrics} />
        <span class="label-category">{post.category}</span>
      </div>

      <div class="card-last-post__btn">
        <a href={`/posts/${post.slug}`}>
          <Button className={"btn-square"}>{(<AiOutlineArrowRight />)}</Button>
        </a>
      </div>
    </div>
  </div>
</article>
